* {
  box-sizing: border-box;
}

body {
  background: black;
  transition: all 200ms;
  will-change: background;
}

.introBox {
  margin-left: 25%;
  color: whitesmoke;
  height: 100vh;
}

.intro {
  font-family: 'Asap', sans-serif;
  margin-top: 1.7em;
}

.intro:hover {
  cursor: default;
}

.letter:hover {
  color: #ff1bd1;
  cursor: default;
}

.name {
  color: #ff1bd1;
}

.name:hover {
  color: whitesmoke;
  cursor: default;
}

.menu, .close {
  height: 1.5em;
  position: fixed;
  top: .7em;
  right: 1.5em;
  width: 1.5em;
}

.menu:hover, .close:hover {
  cursor: pointer;
  animation-name: turn;
  animation-duration: 1s;
  animation-timing-function: ease;
}

header {
  background-color: #ff1bd1;
  position: fixed;
  right: 0;
}

nav {
  background-color: #ff1bd1;
  display: none;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 1px 10px black;
}

.navLink {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: black;
  margin: 1em;
}

.navLink:hover {
    cursor: pointer;
}

#top {
  position: fixed;
  bottom: 0;
  right: .3em;
  border: none;
  background-color: transparent;
  color: #ff1bd178;
  font-size: xx-large;
  font-weight: bolder;
  border-radius: .2em;
  margin-bottom: .3em;
  padding-bottom: .2em;
}

#top:hover {
  cursor: pointer;
  color: #ff1bd1;
  background-color: #01010142;
}

.about {
  color: white;
  font-weight: bold;
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.contact {
  height: 2.5em;
  width: 2.5em;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 2em;
}

.contact:hover {
  box-shadow: inset -20px -19px 20px 20px #ff1bd1;
}

.infoFoot {
  font-family: 'Asap', sans-serif;
  text-align: center;
  color: black;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: medium;
}

.infoBox {
  color: black;
  border-radius: 1em;
  padding: 3em;
  background-color: #ff1bd1;
  box-shadow: 6px 6px black;
}

.me {
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
}

.aboutMe {
  width: 85vw;
  text-align: center;
  border-bottom: 3px solid black;
  color: black;
  font-family: 'Varela Round', sans-serif;
  padding: .5em;
  margin: 2em auto;
}

.projectHead {
  width: 85vw;
  text-align: center;
  border-bottom: 3px solid #ff1bd1;
  color: #ff1bd1;
  font-family: 'Varela Round', sans-serif;
  padding: .5em;
  margin: 2em auto;
}

.clear {
  clear: both;
}

@keyframes turn {
  0%, 100% {
    transform: initial;
  }
  33% {
    transform: rotate(15deg);
  }
  66% {
    transform: rotate(-15deg);
  }
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: #ff1bd1;
    border-radius: 1em;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}


.pProject {
  font-family: 'Asap', sans-serif;
  font-size: larger;
  line-height: 1.3em;
}

.projects {
  margin-top: 5em;
  padding: .5em;
}

.projectBox {
  color: #ff1bd1;
  display: flex;
  margin: 2em auto;
  justify-content: space-around;
  flex-flow: row wrap;
}

.projectLink {
  text-decoration: none;
  color: #c2009b;
  background-color: ghostwhite;
  padding: .5em;
  border-radius: .5em;
  font-family: 'Varela Round', sans-serif;
  margin: .5em;
  box-shadow: 6px 6px black;
  flex-basis: 18em;
}

.projectLink:hover {
  cursor: pointer;
  background-color: #ff1bd1;
  border: 1px solid white;
  color: white;
  transition-duration: 500ms;
}

.aboutP {
  background-color: black;
  padding: 3em;
  margin: 2em;
  font-family: 'Varela Round', sans-serif;
  font-size: medium;
  flex: 1 2;
  text-align: center;
  height: 20em;
}

.aboutP:hover {
  box-shadow: 3px 4px 20px 0px purple;
  font-weight: bold;
  color: #faaff4;
}

.pro, .per {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.projectTitle {
  font-size: x-large;
  font-weight: bold;
  color: white;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  background-color: black;
  padding: 1em;
  border-radius: 1em;
}

.projectImage {
  height: 15em;
}

.icons {
  height: 5em;
  width: 5em;
  margin-top: 1em;
}

.tech {
  display: flex;
  flex-flow: row wrap;
  font-size: 2em;
  justify-content: space-around;
  margin-top: 1em;
}

.links {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.image {
  text-align: center;
}
